body{
    background-image: url("img1.jpg");
    background-size: cover;
}

.main{
    display: grid;
    max-width: 500px;
    margin: 100px auto;
}

.text{
    font-size: 20px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.text:hover{
    cursor: pointer;
}

.card{
        width: 100%;
        box-shadow: 2px 2px 20px black;
        border-radius: 5px; 
        margin: 2%;
        background-color: white;
       }

.card:hover{
    box-shadow: 4px 4px 30px black;
}
   
.image img{
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;    
    }
   
.title{
    
     text-align: center;
     padding: 10px;
     
    }
   
h1{
     font-size: 25px;
    }
   
.description{
     text-align: center;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   }

button{
     background-color: rgba(128, 128, 128, .2);
     border: none;
     padding:5px;
     outline: none;
     font-size: 13px;
     margin-top: 0px;
     margin-bottom: 5px;
   }

button:hover{
     background-color: rgb(128, 128, 128);  
     transition: .5s;
     cursor: pointer;
   }

.read-more-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: navajowhite;
    border: 1px solid black;
    border-radius: 5px;
    padding:10px;
    }

.read-more-btn:hover{
    background-color: skyblue;
    color: black;
    transition: .5s;
    cursor: pointer;
  }

a:link{
    text-decoration: none;
    color: red;
}

.moreText{
    display: none;
}

.text.show-more .moreText{
    display: inline;
}   

.text.show-more .dots{
    display: none;
}