html {
            background: #b68f0f;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            background-image: url("image.jpg");
            background-size: cover;
        }

input:focus::-webkit-input-placeholder { color:transparent; }

::placeholder{

    color: rgba(255, 255, 255, 0.4);
        }

body {
            padding-top: 5vh;
        }
        
.main {
            background: rgba(0, 0, 128, 0.493);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            height: 800px;
            width: 400px;
            box-shadow: -3px -2px 6px #6c6565, 7px 9px 25px #0b0b0b;
        }
        
form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
input {
            height: 30px;
            size: 200px;
            border: 2px solid #e1dede69;
            border-radius: 5px;
            background: #aaaaaa;
            color: #000000;
            text-align: center;
            outline: none;
            font-size: 50px;
        }

.userinput {
            margin: 0 auto;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            position: relative;
        }

.userinput label{
            flex-basis: 28%;
        }
        
.userinput input {
            margin: 5px;
            border: 2px solid #f0f0f0;
            border-radius: 4px;
            display: block;
            font-size: 20px;
            padding: 3px;
            width: 100%;
        }

.userinput label{
            flex-basis: 28%;
}
        
.check-box {
            display: flex;
            align-items: center;
            margin: auto;
            font-size: 15px;
        }
        
a {
            color: white;
        }
        
a:hover {
            color: grey
        }
        
.form-register {
            display: flex;
            flex-direction: column;
            padding: 10px 0;
        }
        
.form-register button {
            margin: auto;
            font-size: 20px;
            padding: 8px;
            width: 280px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: rgb(75, 61, 61);
            background: #fbba50;
        }
        
.form-register button:disabled {
            cursor: not-allowed;
            background: #8f8b85 !important;
            color: rgb(131, 120, 120) !important;
        }
        
.form-register button:hover {
            background: #d88a0c;
            color: antiquewhite;
        }
        
.option {
            padding-top: 15px;
            margin: auto;
            font-size: 17px;
        }
        
p {
            font-size: 14px;
        }
        
.userinput.success input {
            border-color: green;
}

.userinput.error input {
            border-color: red;
}

.userinput .error {
            color: red;
            font-size: 15px;
            height: 13px;
}

#alert {
    color: red;
}